.container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 16px;
  border-radius: 24px;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  padding: 1rem;
  border-radius: 24px;
}

.content {
  position: relative;
  height: calc(100vh - 32px);
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 24px;
  background: rgba(0, 0, 0, 0.025);
  border-radius: 24px;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
}
