.sceneContainer {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow: hidden;
  background: radial-gradient(
    circle at center,
    var(--layer0-bg-color) 0%,
    rgba(0, 0, 0, 0.95) 70%
  );
  border: var(--border);
  border-radius: 24px;
  margin: 3rem 0;
}

.networkTokenContainer {
  position: absolute;

  margin: auto;
  margin-top: calc(99px + 12px);

  z-index: 2;
  align-self: center;

  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

.personalTokenPill {
  display: flex;
  align-items: center;
  gap: 12px;
  background: var(--layer1-bg-color);
  border-radius: 12px;
  padding: 8px 16px;
}

.valuation {
  color: var(--active-green);
  font-size: 12px;
  font-weight: 500;
  min-width: 60px; /* Set minimum width to prevent jumping */
  text-align: right; /* Right align the text within the fixed width */
}

.tokenRow {
  display: flex;
  gap: 4px;
  will-change: transform;
}

.valuation {
  font-size: 14px;
  opacity: 0.8;
}
