.sellButton {
  padding: 1rem;
  margin-top: 16px;
  border-radius: 16px;
  font-size: 1rem;
  width: 100%;
  background: white;
  cursor: pointer;
  font-family: sans-serif;
  border: var(--border);
  outline: none;
  font-weight: 440;
}

.sellButton:hover {
  background: var(--bg-hover);
}
