.container {
  position: relative;
  width: 100%;
}

.walletValue {
  position: absolute;
  right: 0;
  top: -24px;
  background: #5ca2ff;
  color: white;
  padding: 4px 12px;
  border-radius: 8px;
  font-size: 14px;
}
