.container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
  padding: 0.5rem 0.75rem;
  margin-left: -0.75rem;
  width: calc(100% + 1.5rem);
  border-radius: 12px;
}

.container:hover {
  background: var(--bg-hover);
  /* border: var(--border); */
}

.walletValue {
  position: absolute;
  right: 0;
  top: -24px;
  background: #5ca2ff;
  color: white;
  padding: 4px 12px;
  border-radius: 8px;
  font-size: 14px;
}

.wallet {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--layer1-bg-color);
  padding: 4px 8px;
  color: var(--active-green);
  font-size: 14px;
  font-weight: 500;
  width: fit-content;
}

.wallet svg path {
  fill: var(--text-color-secondary);
}
