.container {
  display: inline-flex;
  padding: 6px;
  margin-left: -6px;
  border-radius: 8px;
  cursor: pointer;
  width: fit-content;
}

.container svg path {
  fill: var(--text-color-secondary);
}

.container:hover {
  background: var(--bg-hover);
}

.container:hover svg path {
  fill: var(--text-color-primary);
  fill-opacity: 1;
}
