:root {
  /* Colors */
  --text-color-primary: #111;
  --text-color-secondary: #8d8d8d;
  --text-color-light: rgba(0, 0, 0, 0.3);

  --active-green: #00bf4c;
  --logo-green: #04ab46;
  --link-color: #125df3;
  --link-color-hover: #0d44b3;

  --layer1-bg-color: #fbfbfb;
  --layer2-bg-color: #f5f5f2;
  --bg-hover: #f2f2ef;

  --main-bg: rgba(245, 245, 242, 0.5);

  --badge-bg: rgba(0, 191, 76, 0.1);

  /* Typography */
  --font-weight-base: 400;
  --font-size-base: 0.1rem;

  --font-size-essay: 1rem;
  --font-size-header: 1.5rem;
  --font-size-subheader: 1rem;
  --font-size-caption: 0.8125rem;

  --sideMenuWidth: 300px;

  /* Spacing */
  --spacing-medium: 1rem;

  --border: 1px solid rgba(0, 0, 0, 0.05);
  --border-radius-large: 24px;
  --border-radius-medium: 12px;
  --border-radius-small: 4px;

  --color-background-secondary: #f6f6f6;

  --essay-max-width: 600px;
}

body {
  letter-spacing: -0.02em;
  line-height: 1.55;
  font-weight: var(--font-weight-base);
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
  margin: 0;
  ::selection {
    background-color: #fff88f;
  }
}
