.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  background: rgba(0, 0, 0, 0.025);
  border-radius: 1rem;
}

.links {
  display: flex;
  gap: 24px;
}

.link {
  color: var(--text-color-primary);
  font-size: 14px;
  text-decoration: none;
  transition: color 0.2s;
  cursor: pointer;
  font-weight: 480;
}

.link:hover {
  color: black;
}

@media (max-width: 700px) {
  .nav {
    padding: 1rem;
  }
}
