.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}

.links {
  display: flex;
  gap: 24px;
}

.link {
  color: var(--text-color-primary);
  font-size: 14px;
  text-decoration: none;
  transition: color 0.2s;
  cursor: pointer;
  font-weight: 460;
}

.link:hover {
  color: black;
}
