.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1.5rem;
  background: var(--layer1-bg-color);
  border-radius: 24px;
  gap: 1rem;
  margin-bottom: 1rem;
}

.container p {
  margin: 0 !important;
  margin-bottom: 1rem !important;
}

.titleContainer {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: start;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  font-weight: 500;
}

.innerContent {
  font-size: var(--font-size-essay);
  color: rgba(0, 0, 0, 0.55);
}
