.header {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color-primary);
}

.subheader {
  font-size: 14px;
  color: var(--text-color-secondary);
}

.header {
  cursor: pointer;
}

.header:hover {
  color: black;
}

.subheader {
  cursor: pointer;
}

.subheader:hover {
  color: var(--hover);
}

.activeH2 {
  font-weight: 600;
  color: blue;
}

.activeH3 {
  color: var(--text-color-primary);
  font-weight: 500;
  color: blue;
}
