.BaseHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 4px 8px;
  border-radius: 4px;
  transition: background-color 0.2s ease;
  font-size: 14px;
  cursor: pointer;
  font-weight: 460;
}

.BaseHeader:hover {
  background-color: var(--hover-color);
}

.header {
  color: var(--text-color-primary);
}

.header:hover {
  color: black;
}

.subheader {
  color: var(--text-color-secondary);
}

.subheader:hover {
  color: var(--hover);
}

.activeH2 {
  color: var(--text-color-primary);
}

.activeH3 {
  color: var(--text-color-primary);
}

.activeIndicator {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #22c55e;
}
