.logoContainer {
  padding: 0.25rem 0.5rem;
  margin-left: -0.5rem;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.logoContainer:hover {
  background-color: rgba(0, 0, 0, 0.02);
}

.link {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  text-decoration: none;
  transition: color 0.2s;
  cursor: pointer;
  font-weight: 420;
}

.link:hover {
  color: rgba(0, 0, 0, 0.85);
}
