.container {
  display: flex;
  flex-direction: column;
  width: calc(100% - 48px);
  align-items: center;
  justify-content: center;
  background-color: #fbfbfb;
  border-radius: 24px;
  height: 75vh;
  margin: 24px;
  padding: 1rem;
  text-align: center;
  line-height: 1.25;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.bgContainer {
  position: absolute;
  inset: 0;
  opacity: 0.05;
  z-index: 0;
}

@media (max-width: 768px) {
  .background {
    margin-left: -28%;
  }
}

.background {
  width: calc(130vw);
  height: calc(130vh);
  margin: calc(-20vh);
  margin-top: calc(-25vh);
  margin-left: calc(-20vw);
}

@media (max-width: 768px) {
  .background {
    margin-left: -27vw;
  }
}

@media (min-width: 1370px) {
  .background {
    margin-left: -18vw;
  }
}

.background::after {
  content: "";
  position: absolute;
  inset: 0;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.25' numOctaves='2' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  opacity: 0.12;
  pointer-events: none;
  animation: grain 8s steps(10) infinite;
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-10%, -10%);
  }
  20% {
    transform: translate(-15%, 10%);
  }
  30% {
    transform: translate(10%, -15%);
  }
  40% {
    transform: translate(-10%, 20%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(20%, 0);
  }
  70% {
    transform: translate(0, 15%);
  }
  80% {
    transform: translate(-20%, 0);
  }
  90% {
    transform: translate(15%, 10%);
  }
}

.content {
  position: relative;
  z-index: 1;
}

.title {
  font-size: 3rem;
  margin: 0;
  font-weight: 333;
  text-transform: uppercase;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .title {
    font-size: 2.2rem;
  }
  .container {
    margin: 1rem;
    width: calc(100% - 2rem);
  }
}

.dateRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
  gap: 1rem;
  color: var(--text-color-secondary);
  font-weight: 500;
}
