.footer {
  width: 100%;
  padding: 20px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.025);
  background-color: #ffffff;
  margin-top: 3rem;
}

@media (max-width: 768px) {
  .footer {
    width: calc(100% - 3rem);
    margin: 3rem auto 0;
  }
}
