.sideMenu {
  padding: 24px;
  background: #fbfbfb;
  width: var(--sideMenuWidth);
  height: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  border-right: var(--border);
}

.sideMenu::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
  border-right: var(--border);
}

.isSticky {
  position: fixed;
  top: 0;
}

.header {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color-primary);
}

.subheader {
  font-size: 14px;
  color: var(--text-color-secondary);
}

.header {
  cursor: pointer;
}

.header:hover {
  color: black;
}

.subheader {
  cursor: pointer;
}

.subheader:hover {
  color: var(--hover);
}

.toggleButton {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-right: var(--border);
  border-radius: 4px;
  background: transparent;
  color: var(--text-color-secondary);
  cursor: pointer;
}

.toggleButton:hover {
  background: var(--hover-color);
}

.sectionsContainer {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.h2 {
  font-size: var(--font-size-caption);
  color: var(--text-color-secondary);
  margin: 0;
  cursor: pointer;
}

.activeH2 {
  font-weight: 600;
  color: blue;
}

.h3Container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  height: 0;
  overflow: hidden;
  transition: height 0.2s ease;
}

.expanded {
  height: auto;
}

.h3 {
  font-size: var(--font-size-caption);
  color: var(--text-color-secondary);
  margin: 0;
  padding-left: 1rem;
  cursor: pointer;
}

.activeH3 {
  color: var(--text-color-primary);
  font-weight: 500;
  color: blue;
}

.h2:hover,
.h3:hover {
  color: var(--text-color-primary);
}
