.annotationMarker {
  color: var(--color-text-secondary);
  cursor: help;
  display: inline;
}

.annotationContent {
  position: absolute;
  width: 200px;
  font-size: 0.8em;
  color: var(--text-color-light);
  line-height: 1.5;
  display: inline-block;
  z-index: 10;
  margin-top: 0.25rem;
}

.annotationContentInline {
  position: static;
  width: 100%;
}

.annotationMarker {
  color: var(--text-color-light);
  cursor: pointer;
  display: inline;
  font-size: 0.9rem;
  padding: 2px 4px;
  border: var(--border);
  border-radius: 4px;
  background-color: var(--layer2-bg-color);
  gap: 4px;
}

.annotationMarker:hover {
  background-color: var(--bg-hover);
}
