.annotationContent {
  position: absolute;
  width: 160px;
  font-size: 0.8em;
  color: var(--text-color-light);
  line-height: 1.5;
  display: inline-block;
  z-index: 10;
  margin-top: 0.25rem;
}

.annotationContentInline {
  position: static;
  width: 100%;
}
.annotationMarker {
  color: var(--text-color-light);
  display: inline;
  display: inline;
  font-size: 0.9rem;
  padding: 2px 4px;
  gap: 4px;
  border-radius: 4px;
}

@media (max-width: 1120px) {
  .annotationMarker {
    border: var(--border);
    /* background-color: var(--layer2-bg-color); */
    cursor: pointer;
  }

  .annotationMarker:hover {
    background-color: var(--bg-hover);
  }
}
