.container {
  margin: 0 auto;
  margin: 3rem auto;
  background: var(--layer1-bg-color);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
}

@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }
}

.content {
  width: 100%;
  /* max-width: 420px; */
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05); */
  border-radius: 24px;
}

.caption {
  font-size: 13px;
  color: var(--text-color-light);
  padding: 1rem;
  padding-bottom: 0;
}
