.container {
  margin: 0 auto;
  max-width: 450px;
  margin: 3rem auto;
}

.content {
  width: 100%;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05); */
  border-radius: 24px;
}

.caption {
  font-size: 13px;
  color: var(--text-color-light);
  padding: 1rem;
}
