.container {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
  align-items: center;
  justify-content: start;
}

.selectable:hover {
  background: var(--bg-hover);
  /* border: var(--border); */

  .valueSection {
    color: var(--text-color-primary);
  }
}

.selectable {
  cursor: pointer;
  padding: 0.5rem 0.75rem;
  margin-left: -0.75rem;
  width: calc(100% + 1.5rem);
  border-radius: 12px;
  /* border: 1px solid transparent; */
}

.profileSection {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.profilePic {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  font-weight: 460;
  white-space: nowrap;
}

.nameRow {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.type {
  font-size: 13px;
  color: var(--text-color-light);
  font-weight: 500;
}

.divider {
  flex-grow: 1;
  height: 1px;
  background: rgba(0, 0, 0, 0.05);
}

.valueSection {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--text-color-secondary);
}

.separator {
  width: 1px;
  height: 1rem;
  background: rgba(0, 0, 0, 0.05);
}

.special {
  /* padding: 4px 8px;
  border-radius: 8px;
  background: var(--layer1-bg-color); */
  color: var(--active-green);
  font-weight: 500;
}
